@font-face {
    font-family: "Hacked";
    src: url("../fonts/Hacked-KerX.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.hero {
    width: 100%;
    height: 40vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1544890225-2f3faec4cd60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=925&q=80');
    display: block;
}

.filter {
    position: relative;
    padding: 0px 2em;
    width: calc(100% - 4em);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
}

.titleContainer {
    background-color: black;
    padding: 10px;
    color: white;
    position: relative;
    height: 2em;
    display: block;
}

.contain {
    position: absolute;
    top: 0.8em;
    left: 50%;
    transform: translateX(-45%);
    display: block;
}
.container-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: 'Helvetica';
    display: block;
}
.container-text h1 {
    font-size: 0.95em;
    letter-spacing: 0.25em;
    line-height: 1.8em;
    text-transform: uppercase;
}
.container-text h2 {
    font-size: 0.75em;
    letter-spacing: 0.20em;
    text-transform: uppercase;
}

.content {
    padding: 2em;
}

.glitch, .glow {
    font-family: "Hacked";
    letter-spacing: 15px;
    color: #fff;
    position: relative;
    font-size: 1.6em;
    animation: glitch 5s 5s infinite;
}

.glitch::before, .glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after, .glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    3.3333333333% {
        clip-path: inset(22px 0 26px 0);
    }
    6.6666666667% {
        clip-path: inset(58px 0 10px 0);
    }
    10% {
        clip-path: inset(76px 0 10px 0);
    }
    13.3333333333% {
        clip-path: inset(40px 0 14px 0);
    }
    16.6666666667% {
        clip-path: inset(92px 0 7px 0);
    }
    20% {
        clip-path: inset(86px 0 14px 0);
    }
    23.3333333333% {
        clip-path: inset(48px 0 22px 0);
    }
    26.6666666667% {
        clip-path: inset(10px 0 16px 0);
    }
    30% {
        clip-path: inset(49px 0 18px 0);
    }
    33.3333333333% {
        clip-path: inset(12px 0 58px 0);
    }
    36.6666666667% {
        clip-path: inset(8px 0 37px 0);
    }
    40% {
        clip-path: inset(25px 0 11px 0);
    }
    43.3333333333% {
        clip-path: inset(36px 0 53px 0);
    }
    46.6666666667% {
        clip-path: inset(97px 0 4px 0);
    }
    50% {
        clip-path: inset(54px 0 39px 0);
    }
    53.3333333333% {
        clip-path: inset(79px 0 21px 0);
    }
    56.6666666667% {
        clip-path: inset(26px 0 58px 0);
    }
    60% {
        clip-path: inset(7px 0 39px 0);
    }
    63.3333333333% {
        clip-path: inset(71px 0 7px 0);
    }
    66.6666666667% {
        clip-path: inset(93px 0 5px 0);
    }
    70% {
        clip-path: inset(27px 0 2px 0);
    }
    73.3333333333% {
        clip-path: inset(96px 0 3px 0);
    }
    76.6666666667% {
        clip-path: inset(22px 0 24px 0);
    }
    80% {
        clip-path: inset(30px 0 34px 0);
    }
    83.3333333333% {
        clip-path: inset(19px 0 65px 0);
    }
    86.6666666667% {
        clip-path: inset(71px 0 21px 0);
    }
    90% {
        clip-path: inset(13px 0 12px 0);
    }
    93.3333333333% {
        clip-path: inset(60px 0 24px 0);
    }
    96.6666666667% {
        clip-path: inset(40px 0 31px 0);
    }
    100% {
        clip-path: inset(95px 0 5px 0);
    }
}

@keyframes noise-2 {
    0% {
        clip-path: inset(68px 0 15px 0);
    }
    3.3333333333% {
        clip-path: inset(57px 0 22px 0);
    }
    6.6666666667% {
        clip-path: inset(14px 0 11px 0);
    }
    10% {
        clip-path: inset(71px 0 7px 0);
    }
    13.3333333333% {
        clip-path: inset(16px 0 39px 0);
    }
    16.6666666667% {
        clip-path: inset(7px 0 78px 0);
    }
    20% {
        clip-path: inset(27px 0 58px 0);
    }
    23.3333333333% {
        clip-path: inset(64px 0 18px 0);
    }
    26.6666666667% {
        clip-path: inset(98px 0 3px 0);
    }
    30% {
        clip-path: inset(94px 0 5px 0);
    }
    33.3333333333% {
        clip-path: inset(83px 0 13px 0);
    }
    36.6666666667% {
        clip-path: inset(71px 0 17px 0);
    }
    40% {
        clip-path: inset(29px 0 62px 0);
    }
    43.3333333333% {
        clip-path: inset(62px 0 16px 0);
    }
    46.6666666667% {
        clip-path: inset(4px 0 62px 0);
    }
    50% {
        clip-path: inset(7px 0 70px 0);
    }
    53.3333333333% {
        clip-path: inset(63px 0 32px 0);
    }
    56.6666666667% {
        clip-path: inset(30px 0 58px 0);
    }
    60% {
        clip-path: inset(84px 0 16px 0);
    }
    63.3333333333% {
        clip-path: inset(83px 0 10px 0);
    }
    66.6666666667% {
        clip-path: inset(58px 0 4px 0);
    }
    70% {
        clip-path: inset(43px 0 9px 0);
    }
    73.3333333333% {
        clip-path: inset(60px 0 34px 0);
    }
    76.6666666667% {
        clip-path: inset(3px 0 36px 0);
    }
    80% {
        clip-path: inset(57px 0 22px 0);
    }
    83.3333333333% {
        clip-path: inset(97px 0 4px 0);
    }
    86.6666666667% {
        clip-path: inset(16px 0 28px 0);
    }
    90% {
        clip-path: inset(88px 0 11px 0);
    }
    93.3333333333% {
        clip-path: inset(6px 0 81px 0);
    }
    96.6666666667% {
        clip-path: inset(86px 0 13px 0);
    }
    100% {
        clip-path: inset(87px 0 3px 0);
    }
}

.glow {
    text-shadow: 0 0 1000px #fff;
    color: transparent;
    position: absolute;
    top: 0;
}

@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }
    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}