<div class="splashScreen">
  <div>
    <button
      (click)="toggleScreenMode()"
      id="window_full_screen_mode"
      class="window_full_screen_mode"
    >
      <span class="ion ion-ios-contract"></span>
    </button>
  </div>
  <audio
    src="./assets/media/BGM/punch-deck-100-seconds.mp3"
    id="bgAudio"
  ></audio>
  <button
    (click)="toggleBGMAudio()"
    id="play_pause_button"
    class="play_pause_button"
  >
    <span class="ion ion-ios-volume-high"></span>
  </button>
  <!-- <button (click)="creditsDisplay()" id="credits_button" class="credits_button">
    <span class="ion ion-ios-information-circle"></span>
  </button> -->
</div>
<!-- <div class="container">
  <div class="glitch" data-text="HACKSTORY">HACKSTORY</div>
  <div class="glow">HACKSTORY</div>
</div> -->
<div class="row">
  <div id="title_container" class="container">
    <div class="glitch" data-text="HACKSTORY">HACKSTORY</div>
    <div class="glow">HACKSTORY</div>
  </div>
  <div id="nav_buttons" class="section">
    <button class="testing" (click)="newGame()" data-text="NEW GAME">
      New Game
    </button>
    <button id="loadSavedGames" class="testing" data-text="LOAD GAME">
      Load Game
    </button>
    <button (click)="creditsDisplay()" class="testing" data-text="CREDITS">
      CREDITS
    </button>
    <button class="testing" (click)="quitApp()" data-text="EXIT GAME">
      Exit Game
    </button>
  </div>
</div>

<div (click)="cancelNewGame()" id="cancelNewGame" class="cancelNewGame">
  <button class="testing" data-text="Back">Back</button>
</div>
<div class="newGameCreator" id="newGameCreator">
  <h1>Start a new Game</h1>
  <input type="text" id="username" placeholder="username" />
  <input type="password" id="password" placeholder="password" />
  <button class="testing centralised" data-text="START GAME">START Game</button>
</div>
