<div class="splashScreen">
  <audio src="../../assets/media/BGM/punch-deck-100-seconds.mp3" id="bgAudio"></audio>
  <button (click)="toggleBGMAudio()" id="play_pause_button" class="play_pause_button">
    <span class="ion ion-ios-volume-high"></span>
  </button>
  <button (click)="creditsDisplay()" id="credits_button" class="credits_button">
    <span class="ion ion-ios-information-circle"></span>
  </button>
</div>
<!-- <div class="container">
  <div class="glitch" data-text="HACKSTORY">HACKSTORY</div>
  <div class="glow">HACKSTORY</div>
</div> -->
  <div class="row">
    <div class="container">
      <div class="glitch" data-text="HACKSTORY">HACKSTORY</div>
      <div class="glow">HACKSTORY</div>
    </div>
    <div class="section">
      <button class="testing" data-text="NEW GAME">New Game</button>
    </div>
    <!-- <div class="">
      <button class="testing" data-text="NEW GAME">New Game</button>
    </div> -->
  </div>
</div>
