// :host {

// }

.splashScreen {
    background-image: url("../../assets/media/images/game_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
