.splashScreen {
  background-image: url("../../assets/media/images/game_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 30%;
  transition-duration: 0.5s;
}

.credits_button {
  position: absolute;
  top: 2rem;
  right: 6rem;
  font-size: 1.8rem;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.cancelNewGame {
  position: absolute;
  bottom: 5em;
  left: -50%;
  transition-duration: 0.5s;
}

.slideOut {
  left: -25%;
  transition-duration: 0.5s;
}

.toTheRight {
  left: 50%;
  transition-duration: 0.5s;
}

.slideInFromLeft {
  left: 11.5%;
  transition-duration: 0.5s;
}
.newGameCreator {
  width: 40%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Helvetica";
  background-color: rgba(0, 0, 0, 0.7);
  // display: none;
  visibility: hidden;
  transition-duration: 0.5s;
  h1 {
    font-size: 0.85em;
    letter-spacing: 0.35em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  p {
    font-size: 0.75em;
    letter-spacing: 0.35em;
    text-align: center;
    text-transform: uppercase;
  }
  #creating {
    display: none;
  }
  input {
    display: block;
    width: 75%;
    margin: 20px auto;
    padding: 8px 30px;
    border: solid 1px black;
    font-size: 0.75em;
    letter-spacing: 0.35em;
    background-color: rgba(255, 255, 255, 0.9);
    height: 30px;
    outline: none;
    text-transform: uppercase;
  }
  ::placeholder {
    font-size: 0.75em;
    letter-spacing: 0.35em;
  }
}
.centralised {
  display: block;
  margin: 0 auto;
  height: 48px;
}
.slideInFromRight {
  left: 50%;
  transition-duration: 0.5s;
  // display: block;
  visibility: visible;
}
.alertBox {
  display: none;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  color: white;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
  font-family: "Helvetica";
  font-size: 0.75em;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  .titleContainer {
    background-color: rgb(27, 27, 27);
    padding: 15px 20px;
    .closeSpanButton {
      float: right;
      background-color: #fff;
      color: black;
      padding: 9px 13.1px 13.1px 17px;
      font-size: 1.1rem;
      position: relative;
      top: -14.1px;
      left: 19.5px;
    }
  }
  .message {
    background-color: rgb(170, 170, 170);
    padding: 30px 15%;
    text-align: center;
    font-family: "Helvetica";
    font-size: 0.75em;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: black;
    text-align: center;
    p {
      font-size: 1.2em;
      margin-bottom: 30px;
      line-height: 1.3em;
    }
    .confirmButton {
      background-color: rgb(27, 27, 27);
      padding: 15px 45px;
      border: none;
      outline: none;
      color: white;
      font-family: "Helvetica";
      font-size: 1.2em;
      letter-spacing: 0.35em;
      text-transform: uppercase;
    }
  }
}
